{% extends "base.html" %}
{% load static from staticfiles %}

{% block style %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock style %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static "viewdata/index.js" %}" charset="utf-8"></script>
{% endblock script %}

{% block title %}
<title>Serenity Test Board</title>
{% endblock title %}

{% block body %}
<body>
    {% block nav-bar %}
    >> <a href="/viewdata/">Home</a>
    {% endblock nav-bar %}
    <h1>Serenity Test Card</h1>
    <h2>Tested Cards</h2>
    {% include "index_table.html" %}
    <h2>Status</h2>
    <div class="test-buttons" style="padding-bottom:20px">
        <button type="button" id="test-i2c" onclick="checkI2CStatus()">Test I2C line</button>
        <button type="button" id="run-measurement" onclick="location.href='/viewdata/measure';">Measure Board</button>
    </div>
    <div class="ftdi-status">
        <div style="float:left; padding-right:10px">
            FTDI status:
        </div>
        <div id="ftdi-status">
            waiting for status...
        </div>
    </div>
    <div class="i2c-fanout-status">
        <div style="float:left; padding-right:10px">
            I2C Fanout status:
        </div>
        <div id="i2c-fanout-status">
            waiting for status...
        </div>
    </div>
    <div class="adc-status">
        <div style="float:left; padding-right:10px">
            ADC test reading:
        </div>
        <div id="adc-status">
            no reading.
        </div>
    </div>
</body>
{% endblock body %}
