{% extends "base.html" %}
{% load static from staticfiles %}

{% block style %}
<style>
div.select-board {
    width: 100%;
    padding-top:30px;
    position:relative;
    overflow: auto;
}
div.select-board div {
    float: left;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
}
div.run-test {
    overflow: auto;
    padding: 20px
}
table tfoot td {
  font-weight: bold;
}
</style>
{% endblock style %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static "viewdata/measure.js" %}" charset="utf-8"></script>
{% endblock script %}

{% block title %}
<title>Measure</title>
{% endblock title %}

{% block body %}
<body>
    {% block nav-bar %}
    >> <a href="/viewdata/">Home</a>
    >> <a href="/viewdata/measure">Measure</a>
    {% endblock nav-bar %}
    <h1>Serenity Test Card</h1>
    {% include "index_table.html" %}
    <form class="board" action="/viewdata/get-measurement" method="get">
        <div class="select-board">
            <div>
                Select board:
            </div>
            <div class="board-form">
                <select name="boards">
                    {% for board in boards %}
                        <option value="{{board.0}}">{{board.0}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="new-board">
                <button type="button" onclick="location.href='/viewdata/new-board';">New Board</button>
            </div>
        </div>
        <div class="run-test">
            <button type="submit">Run Measurement</button>
        </div>
    </form>
    <div class="data">
        <table id="data">

        </table>
    </div>
</body>
{% endblock body %}
