<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% block head %}
    <head>
        <meta charset="utf-8">
        {% block style %}
        {% endblock style %}
        {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        {% endblock script %}
        {% block title %}
        <title></title>
        {% endblock title %}
    </head>
    {% endblock head %}
    {% block body %}
    <body>
        {% block nav-bar %}
        {% endblock nav-bar %}
    </body>
    {% endblock body %}
</html>
