<table class={% block table-name %}'base-table'{% endblock %}>
    {% block table-body %}
    <thead>
        <tr>
            {% block header %}
            {% for column in header %}
                <th>{{column}}</th>
            {% endfor %}
            {% endblock %}
        </tr>
    </thead>
    {% for row in results %}
    <tr>
        {% for column in row.data %}
            {% block nav-column %}
            <td>{{column}}</td>
            {% endblock nav-column %}
        {% endfor %}
    </tr>
    {% endfor %}
    {% endblock table-body %}
</table>
